<div
    class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden"
>
    <div class="flex flex-column align-items-center justify-content-center">
        <div
            style="
                border-radius: 46px;
                padding: 0.3rem;
                background: linear-gradient(
                    180deg,
                    var(--primary-color) 10%,
                    rgba(33, 150, 243, 0) 30%
                );
            "
        >
            <div
                class="w-full surface-card py-7 px-5 sm:px-7"
                style="border-radius: 53px"
            >
                <div class="text-center mb-5">
                    <img
                        src="../../assets/final.png"
                        class="mb-5 w-6rem flex-shrink-0"
                    />

                    <div
                        class="text-900 text-3xl font-medium mb-3 animation-duration-1000 animation-iteration-1"
                    >
                        Bienvenue
                    </div>
                </div>

                <div>
                    <label
                        for="email1"
                        class="block text-900 text-xl font-medium mb-2"
                        >Email</label
                    >
                    <input
                        id="email1"
                        type="text"
                        name="email"
                        placeholder="Email"
                        [(ngModel)]="utilisateur.email"
                        pInputText
                        email
                        required
                        #emailField="ngModel"
                        class="w-full md:w-30rem mb-5 form-control"
                        style="padding: 1rem"
                    />

                    <label
                        for="password1"
                        class="block text-900 font-medium text-xl mb-2"
                        >Mot de passe</label
                    >
                    <p-password
                        id="password1"
                        class="form-control"
                        name="password"
                        [(ngModel)]="utilisateur.password"
                        placeholder="Mot de passe"
                        [toggleMask]="true"
                        styleClass="mb-5"
                        [feedback]="false"
                        inputStyleClass="w-full p-3 md:w-30rem"
                    ></p-password>

                    <div
                        class="flex align-items-center justify-content-between mb-5 gap-5"
                    >
                        @if (erreur==1){

                        <div
                            class="alert alert-danger"
                            style="color: red"
                            role="alert"
                        >
                            {{ this.message }}
                        </div>
                        }
                    </div>
                    <button
                        pButton
                        pRipple
                        (click)="onLoggedin()"
                        label="Se connecter"
                        class="w-full p-3 text-xl"
                        [disabled]="!emailField.errors?.['email'] || !utilisateur.password"
                    ></button>

                    <a
                        routerLink="/register"
                        class="font-medium ml-2"
                        style="color: var(--primary-color)"
                        >Créer un compte</a
                    >
                </div>
            </div>
        </div>
    </div>
</div>
