<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-dataView [emptyMessage]="message" layout="grid">
                <ng-template pTemplate="header">
                    <div
                        class="flex flex-column md:flex-row md:justify-content-between gap-2"
                    >
                        <div>
                            <p-dropdown
                                [options]="sortOptions"
                                placeholder="Trier"
                                (onChange)="orderOption($event)"
                                class="mr-3"
                            ></p-dropdown>
                            <p-button
                                (click)="showDialog()"
                                icon="pi pi-filter"
                                label="Filtres"
                                class="mr-auto"
                            ></p-button>
                            <p-button
                                icon="pi pi-filter-slash"
                                severity="danger"
                                [rounded]="true"
                                pTooltip="Réinitialiser"
                                class="mr-auto m-3 mt-2"
                            ></p-button>
                        </div>

                        <p-dialog
                            [draggable]="false"
                            [(visible)]="visible"
                            [breakpoints]="{ '960px': '65vw' }"
                            [style]="{ width: '40vw' }"
                            [position]="center"
                            [modal]="true"
                        >
                            <div class="grid p-fluid mt-3">
                                <div class="flex py-2 justify-content-center">
                                    <div class="field md:col-4">
                                        <span class="p-float-label">
                                            <input
                                                type="number"
                                                id="prixmi"
                                                pInputText
                                                [(ngModel)]="min"
                                            />
                                            <label for="prixmi">Prix Min</label>
                                        </span>
                                    </div>
                                    <div class="field md:col-4">
                                        <span class="p-float-label">
                                            <input
                                                type="number"
                                                id="prixma"
                                                pInputText
                                                [(ngModel)]="max"
                                            />
                                            <label for="prixma">Prix Max</label>
                                        </span>
                                    </div>
                                </div>
                                <div class="flex py-2 justify-content-center">
                                    <div class="field md:col-4">
                                        <span class="p-float-label">
                                            <input
                                                type="number"
                                                id="qmi"
                                                pInputText
                                                [(ngModel)]="qmin"
                                            />
                                            <label for="qmi"
                                                >Quantité Min</label
                                            >
                                        </span>
                                    </div>
                                    <div class="field md:col-4">
                                        <span class="p-float-label">
                                            <input
                                                type="number"
                                                id="qma"
                                                pInputText
                                                [(ngModel)]="qmax"
                                            />
                                            <label for="prixma"
                                                >Quantité Max</label
                                            >
                                        </span>
                                    </div>
                                </div>
                                <div class="flex py-2 justify-content-center">
                                    <p-fieldset
                                        class="myFieldset"
                                        [toggleable]="true"
                                        legend="Les catégories"
                                    >
                                        <div class="">
                                            @for (item of Listecats; track
                                            $index) {
                                            <p-checkbox
                                                class="m-2"
                                                [(ngModel)]="item.value"
                                                [binary]="true"
                                                [label]="item"
                                                inputId="binary"
                                            />
                                            }
                                        </div>
                                    </p-fieldset>
                                </div>
                                <div class="flex py-2 justify-content-center">
                                    <p-fieldset
                                        class="myFieldset"
                                        [toggleable]="true"
                                        legend="Les sous catégories"
                                    >
                                        <div class="">
                                            @for (item of Listessscats; track
                                            $index) {
                                            <p-checkbox
                                                class="m-2"
                                                [label]="item"
                                                inputId="binary"
                                            />
                                            }
                                        </div>
                                    </p-fieldset>
                                </div>
                            </div>
                        </p-dialog>

                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input
                                type="search"
                                pInputText
                                placeholder="recherche par nom"
                                (input)="onFilter(dv, $event)"
                            />
                        </span>
                    </div>
                </ng-template>
                <ng-template let-products pTemplate="gridItem">
                    <div class="grid grid-nogutter">
                        @for (product of produits; track $index) {

                        <div class="col-12 md:col-4">
                            <div class="card m-3 border-1 surface-border">
                                <div
                                    class="flex flex-wrap gap-2 align-items-center justify-content-between mb-2"
                                ></div>
                                <div
                                    class="flex flex-column align-items-center text-center mb-3"
                                >
                                    <div class="text-2xl font-bold">
                                        {{ product.nomProd }}
                                    </div>
                                </div>
                                <div
                                    class="flex align-items-center justify-content-between"
                                >
                                    <span class="text-2xl font-semibold"
                                        >{{ product.prixProd }}FCFA</span
                                    >
                                    <div class="flex align-items-center">
                                        <i class="pi pi-tag mr-2"></i>
                                        <span class="font-semibold">{{
                                            product.quantite
                                        }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        }
                    </div>
                </ng-template>
            </p-dataView>
        </div>
    </div>
</div>
