<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="/listprod">
        <img class="ml-2" src="../../assets/final.png" />
        <strong
            class="fadeinright animation-duration-2000 animation-iteration-1 flex align-items-center justify-content-center font-bold px-3 py-3"
            >BabanKassouwa</strong
        >
    </a>

    <button
        #menubutton
        class="p-link layout-menu-button layout-topbar-button"
        (click)="layoutService.onMenuToggle()"
    >
        <i class="pi pi-bars"></i>
    </button>

    <button
        #topbarmenubutton
        class="p-link layout-topbar-menu-button layout-topbar-button"
        (click)="layoutService.showProfileSidebar()"
    >
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div
        #topbarmenu
        class="layout-topbar-menu"
        [ngClass]="{
            'layout-topbar-menu-mobile-active':
                layoutService.state.profileSidebarVisible
        }"
    >
        <!-- mettre le authservice si l'utlisateur est deja  connecté on lui affiche le quitter sinon on lui affiche  se connecter -->
        <p-button
            icon="pi pi-sign-out"
            label="Quitter"
            [rounded]="true"
            [text]="true"
            severity="danger"
            routerLink="/login"
        />
    </div>
</div>
