<div
    id="bg-text"
    class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden"
>
    <div class="card flex justify-content-center">
        <div class="flex flex-column align-items-center">
            <div class="font-bold text-xl mb-2">Vérification d'identité</div>
            <p class="text-color-secondary block mb-5">
                Entrer le code envoyé sur votre Email
            </p>
            <p-inputOtp [(ngModel)]="code" [length]="6" style="gap: 0">
                <ng-template
                    pTemplate="input"
                    let-token
                    let-events="events"
                    let-index="index"
                >
                    <input
                        pInputText
                        type="text"
                        [maxLength]="1"
                        [attr.value]="code"
                        class="custom-otp-input"
                    />
                    @if (index === 3) {
                    <div class="px-3">
                        <i class="pi pi-minus"></i>
                    </div>
                    }
                </ng-template>
            </p-inputOtp>
            <div class="flex justify-content-center mt-5 align-self-stretch">
                <p-button label="Continuer" (click)="valid()" />
            </div>
        </div>
    </div>
</div>
